.Ssl-slider {
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.Ssl-slider.sl-show {
  opacity: 1;
  visibility: visible;
  height: auto;
}
.sect-title {
  padding: 50px 0px;
  text-align: center;
  font-size: 40px;
  color: darkcyan;
}
.Ssl * {
  touch-action: manipulation;
}
.Ssl {
  padding-bottom: 30px;
}
.Ssl-item {
  border-top: 2px solid #ccc;
}
.Ssl-item:last-child {
  border-bottom: 2px solid #ccc;
}
.Ssl-title {
  font-size: 26px;
  padding: 40px 0 40px 45px;
  text-transform: uppercase;
  display: flex;
}
.Ssl-title span {
  position: relative;
  transition: 0.5s;
}
.Ssl-title span::after {
  position: relative;
  display: block;
  content: "";
  top: 3px;
  left: 0;
  width: 0;
  margin: 0 auto;
  height: 2px;
  background-color: #000;
  transition: 0.5s;
}
.Ssl-title.active-nav span::after {
  width: 100%;
}

.Ssl-title.icon-arrow-l::before {
  margin-right: 40px;
  display: block;
  transform: rotate(-90deg);
  transition: 0.5s;
  text-decoration: none;
}
.Ssl-title.active-nav.icon-arrow-l::before {
  transform: rotate(90deg);
}
.slider-item {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-item:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
}

/* img  */

.Ssl-img-wrapper {
  display: flex;
  width: 200px;
  height: 200px;
  align-items: center;
}
.Ssl-img-wrapper img {
  width: 100%;
  outline: 1px solid #ccc;
}

/* content */

.Ssl-content {
  display: flex;
  padding: 30px 5px;
  flex-direction: column;
}
.Ssl-price-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 15px;
}
.Ssl-price {
  vertical-align: middle;
  font-size: 20px;
}
.Ssl-price__old {
  text-decoration: line-through;
  color: darkred;
}
.Ssl-price__new {
  color: darkgreen;
}

/* Кнопки */

.Ssl-btn {
  display: flex;
}
.Ssl-btn button {
  width: 200px;
  height: 40px;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.1);
}
.Ssl-btn button:hover {
  background-color: rgba(0, 100, 0, 0.5);
}
.Ssl-btn button:hover:active {
  background-color: rgba(0, 0, 0, 0.5);
}
.Ssl-btn button.s {
  border-radius: 0;
}
button.Ssl-btn__delete {
  display: none;
}
.Ssl-btn__delete.s {
  display: block;
  width: 100px;
  background-color: rgba(139, 0, 0, 0.3);
}
.Ssl-btn__delete.s:hover {
  background-color: rgba(139, 0, 0, 0.5);
}
.Ssl-btn__buy.s {
  width: 100px;
  background-color: rgba(0, 100, 0, 0.3);
}
.Ssl-btn__buy.s:hover {
  background-color: rgba(0, 100, 0, 0.5);
}

/* Код */

.Ssl-code {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Ssl-code-title {
  margin-bottom: 5px;
}
.Ssl-code-code {
  color: firebrick;
}

/* slick slider slider-track */

.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}

.slider-track {
  position: relative;
  padding: 0 60px;
}

.slider-track .slick-arrow {
  border: none;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  z-index: 10;
  font-size: 0;
  width: 20px;
  height: 40px;
  opacity: 0.8;
  touch-action: manipulation;
}
.slider-track .slick-arrow:hover {
  opacity: 0.9;
}
.slider-track .slick-arrow.slick-disabled {
  opacity: 0.2;
}
.slider-track .slick-arrow.slick-prev {
  left: 0;
  background: url("../svg/arrow-l.svg") 0 0 no-repeat;
}
.slider-track .slick-arrow.slick-next {
  right: 0;
  background: url("../svg/arrow-r.svg") 0 0 no-repeat;
}

.slider-track .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.slider-track .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slider-track .slick-dots button {
  transition: 0.3s;
  font-size: 0;
  border: none;
  padding: 0;
  width: 12px;
  height: 12px;
  border: 2px solid #000;
  background-color: transparent;
  border-radius: 50%;
}
.slider-track .slick-dots li.slick-active button {
  background-color: #000;
}

@media screen and (max-width: 992px) {
  .Ssl-title {
    padding: 30px 0 30px 30px;
    font-size: 26px;
  }
  .Ssl-title.icon-arrow-l::before {
    margin-right: 30px;
    display: block;
    transform: rotate(-90deg);
    transition: 0.5s;
  }
}

@media screen and (max-width: 767px) {
  .sect-title {
    padding: 30px 0;
  }
  .Ssl {
    padding-bottom: 10px;
  }
  .Ssl-title {
    padding: 20px 0 20px 30px;
    font-size: 22px;
  }
  .Ssl-title.icon-arrow-l::before {
    margin-right: 20px;
    display: block;
    transform: rotate(-90deg);
    transition: 0.5s;
  }
}

@media screen and (max-width: 576px) {
  .Ssl-slider button {
    min-width: auto;
  }
  .slider-track {
    position: relative;
    padding: 0 30px;
  }

  .sect-title {
    padding: 20px 0;
    font-size: 36px;
  }
  .Ssl-title {
    padding: 20px 0 20px 30px;
    font-size: 20px;
  }
  .Ssl-title.icon-arrow-l::before {
    margin-right: 15px;
    display: block;
    transform: rotate(-90deg);
    transition: 0.5s;
  }

  .slider-track .slick-arrow.slick-prev {
    left: 3px;
  }
  .slider-track .slick-arrow.slick-next {
    right: 3px;
  }
}
